
 body {
     background-color: black;
     margin: 0;
 }
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: #eee;
    background: #222;
    font-family: sans-serif;
}
body.loading {
    display: flex;
}
#canvas {
    background: #333333;
}
#ready {
    font-size: 30px;
    position: absolute;
    color: white;
    text-align: center;
}
#over {
    font-size: 30px;
    position: absolute;
    color: white;
    text-align: center;
}
#clear {
    font-size: 30px;
    position: absolute;
    color: white;
    text-align: center;
}
p {
    font-size: 15px;
    font-weight: lighter;
}
